/* Default values */
:root{
    --background-color: #fff;
    --text-color: #000;
    --border-color: #e0e0e0;

    #sun_icon{
        display: none;
    }
}

/* Dark theme */
[data-theme='dark']{
    --background-color: #121212;
    --text-color: #e0e0e0;
    --border-color: #333;
}


/* Global styles */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);

    nav ul{
        display: flex;
        list-style: none;
        padding: 0;

        li{
            padding: 0.25rem 0.5rem;
        }
    }
}

/* main */
main {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /* section .intro */
    .intro{

        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            margin-bottom: 0;
        }
    
        p{
            margin-top: 8px;
        }
    }

    /* flex-wrapper (.projects, .work-experience, .education) */
    .flex-wrapper{
        display: flex;
        align-items: center;
        gap: 1rem;

        /* sections (.projects, .work-experience, .education) */
        .projects, .work-experience, .education{
            width: 35%;
        }

        /* section .projects */
        .projects{
            text-align: center;

            ul{
                list-style: none;
                padding: 0;

                li{
                    margin-bottom: 1rem;
                }
            }
        }

        /* section .work-experience */

        /* section .education */
        .education{
            ul {
                list-style-type: disc;
                padding-left: 2rem;
            }
        }
        
    }

    .reviews{
        h2{
            text-align: center;
        }

        .feedback-wrapper{
            display: flex;

            blockquote{
                text-align: center;
                border: 1px solid #bb86fc;
                border-radius: 10px;
                padding: 20px;
            }
        }

    }

    

    
    






}

/* footer */
footer{
    text-align: center;
}


/* Responsive */
@media (max-width: 768px){

    main{
        display: block;
        margin: inherit;

        .flex-wrapper{
            display: block;

            .projects, .work-experience, .education{
                width: 100%;
                padding-bottom: 10px;
            }

            .work-experience, .education{
                h2{
                    text-align: center;
                }
            }
            
        }

        .reviews{
            .feedback-wrapper{
                display: block;
            }
        }
    }
}